body {
    background-color: black;
    color: white;
}

.container {
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    background-color: rgb(38, 34, 34);
    border-radius: 20px;
    box-shadow: 5px 5px 100px white;
}

#title {
    font-size: 90px;
    text-align: center;
}

.heading {
    font-family: 'Lobster', cursive;
}

#span1 {
    color: red;
}

#img-div {
    text-align: center;
}

#image {
    width: 500px;
    margin: auto;
    display: block;
    box-shadow: 5px 5px 100px red;
}

#info {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

#marvel {
    color: red;
    margin-left: 10%;
    font-size: 35px;
}


ul {
    width: 80%;
    margin: auto;
}

li {
    font-size: 20px;
    line-height: 3rem;
}

#footer {
    margin: 2rem;
    padding: 1rem;
    font-size: 25px;
}

#link {
    text-decoration: none;
    color: darkorange;
    border: 2px solid darkorange;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
}

#link:hover {
    background-color: darkgoldenrod;
    color: red;
}